body a {
  color: #b0984d;
}
.slider-banner-container {
  width: 100%;
  height: 450px;

  .carousel {
    width: 100%;
    height: 100%;
  }
}

.carousel-inner {
  padding: 0;
  height: 100%;
}

.carousel-item {
  height: 100%;

  img {
    width: 100%;
  }

  .carousel-caption {
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;

    .slider-content-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#shCarousel2 {
  height: 340px;
  width: 100%;

  blockquote:after {
    content: "\201C";
  }
}

.card {
  .card-header {
    color: #fff;
    background-color: #c7ac56;
  }

  .nowrap {
    white-space: nowrap;
  }
}

strong {
  font-weight: bold;
}
