rf

a {
  color: #c7ac56
}

a:hover {
  color: #b0984d
}

a:focus,
a:active {
  color: #b0984d
}

mark,
.mark {
  background-color: #c7ac56;
  color: #fff
}

.text-default {
  color: #c7ac56
}

.table.table-colored {
  border-bottom-color: #c7ac56
}

.table-colored>thead>tr>th {
  border-color: #c7ac56;
  background-color: #c7ac56;
  color: #fff
}

.header-top.dark {
  background-color: #302e28;
  border-bottom: 1px solid #23221d
}

.header.dark {
  background-color: #3d3b33;
  border-top-color: #3d3b33
}

.header-top.colored {
  background-color: #c7ac56;
  border-bottom: 1px solid #c7ac56
}

.default-bg {
  background-color: #c7ac56;
  color: #fff
}

.transparent-header header.header.dark.transparent-header-on {
  background-color: rgba(61, 59, 51, .8);
  border-top-color: rgba(35, 34, 29, .5)
}

.fixed-header-on .dark.header.fixed {
  background-color: rgba(61, 59, 51, .95)
}

@media(min-width:768px) {
  .fixed-header-on .dark.header .dropdown-menu {
    border: 1px solid #302e28
  }
}

.default-translucent-bg:after {
  background-color: rgba(199, 172, 86, .7)
}

.default-translucent-bg.hovered:hover:after {
  background-color: rgba(199, 172, 86, .8)
}

.default-hovered:hover:after,
.default-hovered:hover {
  background-color: #c7ac56
}

.timeline-date-label:after {
  background-color: #c7ac56
}

.btn-default {
  color: #fff;
  background-color: #c7ac56;
  border-color: #b0984d
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: #b0984d;
  border-color: #b0984d
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
  background-color: #c7ac56;
  border-color: #b0984d
}

.btn-default-transparent {
  color: #777;
  background-color: transparent;
  border-color: #c7ac56
}

.btn-default-transparent:hover,
.btn-default-transparent:focus,
.btn-default-transparent.focus,
.btn-default-transparent:active,
.btn-default-transparent.active,
.open>.dropdown-toggle.btn-default-transparent {
  color: #fff;
  background-color: #b0984d;
  border-color: #a88d38
}

.default-bg .btn-default,
.default-translucent-bg .btn-default,
.default-bg .btn-default-transparent,
.default-translucent-bg .btn-default-transparent {
  color: #c7ac56;
  background-color: #fff;
  border-color: #fff
}

.default-bg .btn-default:hover,
.default-translucent-bg .btn-default:hover,
.default-bg .btn-default:focus,
.default-translucent-bg .btn-default:focus,
.default-bg .btn-default.focus,
.default-translucent-bg .btn-default.focus,
.default-bg .btn-default:active,
.default-translucent-bg .btn-default:active,
.default-bg .btn-default.active,
.default-translucent-bg .btn-default.active,
.default-bg .open>.dropdown-toggle.btn-default,
.default-translucent-bg .open>.dropdown-toggle.btn-default,
.default-bg .btn-default-transparent:hover,
.default-translucent-bg .btn-default-transparent:hover,
.default-bg .btn-default-transparent:focus,
.default-translucent-bg .btn-default-transparent:focus,
.default-bg .btn-default-transparent.focus,
.default-translucent-bg .btn-default-transparent.focus,
.default-bg .btn-default-transparent:active,
.default-translucent-bg .btn-default-transparent:active,
.default-bg .btn-default-transparent.active,
.default-translucent-bg .btn-default-transparent.active,
.default-bg .open>.dropdown-toggle.btn-default-transparent,
.default-translucent-bg .open>.dropdown-toggle.btn-default-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff
}

.btn-white {
  color: #777;
  background-color: #fff;
  border-color: #fff
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open>.dropdown-toggle.btn-white {
  color: #b0984d;
  background-color: #fff;
  border-color: #fff
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-left:hover,
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-top:hover,
.hvr-bounce-to-right:hover,
.hvr-bounce-to-left:hover,
.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-top:hover,
.hvr-radial-out:hover,
.hvr-rectangle-out:hover,
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-vertical:hover {
  background: 0 0
}

.hvr-radial-in,
.hvr-rectangle-in,
.hvr-shutter-in-horizontal,
.hvr-shutter-in-vertical {
  background: #b0984d
}

.hvr-radial-in:hover,
.hvr-rectangle-in:hover,
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-vertical:hover {
  background: #b0984d
}

.hvr-radial-in:before,
.hvr-rectangle-in:before,
.hvr-shutter-in-horizontal:before,
.hvr-shutter-in-vertical:before {
  background: #fff
}

.hvr-sweep-to-right:before,
.hvr-sweep-to-left:before,
.hvr-sweep-to-bottom:before,
.hvr-sweep-to-top:before,
.hvr-bounce-to-right:before,
.hvr-bounce-to-left:before,
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before,
.hvr-radial-out:before,
.hvr-rectangle-out:before,
.hvr-shutter-out-horizontal:before,
.hvr-shutter-out-vertical:before {
  background: #b0984d
}

.no-csstransitions .hvr-radial-in,
.no-csstransitions .hvr-rectangle-in,
.no-csstransitions .hvr-shutter-in-horizontal,
.no-csstransitions .hvr-shutter-in-vertical {
  background: 0 0
}

.no-csstransitions .hvr-sweep-to-right:hover,
.no-csstransitions .hvr-sweep-to-left:hover,
.no-csstransitions .hvr-sweep-to-bottom:hover,
.no-csstransitions .hvr-sweep-to-top:hover,
.no-csstransitions .hvr-bounce-to-right:hover,
.no-csstransitions .hvr-bounce-to-left:hover,
.no-csstransitions .hvr-bounce-to-bottom:hover,
.no-csstransitions .hvr-bounce-to-top:hover,
.no-csstransitions .hvr-radial-out:hover,
.no-csstransitions .hvr-rectangle-out:hover,
.no-csstransitions .hvr-shutter-out-horizontal:hover,
.no-csstransitions .hvr-shutter-out-vertical:hover,
.no-csstransitions .hvr-radial-in:hover,
.no-csstransitions .hvr-rectangle-in:hover,
.no-csstransitions .hvr-shutter-in-horizontal:hover,
.no-csstransitions .hvr-shutter-in-vertical:hover {
  background: #b0984d
}

.overlay-top a,
.overlay-bottom a,
.overlay-to-top a {
  color: #fff
}

ul.pagination li>a:hover,
ul.pagination li>a:focus {
  background-color: transparent;
  color: #fff;
  background-color: #b0984d;
  border-color: #b0984d
}

ul.pagination li.active a,
.pagination>.active>a:hover,
.pagination>.active>a:focus {
  color: #fff;
  background-color: #c7ac56;
  border-color: #c7ac56
}

.banner .breadcrumb>li a:hover {
  color: #b0984d
}

.nav-pills.style-2>li.active>a,
.nav-pills.style-2>li.active>a:hover,
.nav-pills.style-2>li.active>a:focus,
.nav-pills.style-2>li>a:hover,
.nav-pills.style-2>li>a:focus {
  color: #c7ac56;
  background-color: #fafafa;
  border: 1px solid #eaeaea
}

.nav-pills.nav-stacked>li.active>a,
.nav-pills.nav-stacked>li.active>a:hover,
.nav-pills.nav-stacked>li.active>a:focus,
.nav-pills.nav-stacked>li>a:hover,
.nav-pills.nav-stacked>li>a:focus {
  color: #c7ac56;
  background-color: transparent;
  border-color: transparent
}

.nav-pills>li.active>a:after {
  color: #c7ac56
}

.nav-pills.nav-stacked:not(.list-style-icons)>li.active>a:hover:after,
.nav-pills.nav-stacked:not(.list-style-icons)>li.active>a:focus:after,
.nav-pills.nav-stacked:not(.list-style-icons)>li>a:hover:after,
.nav-pills.nav-stacked:not(.list-style-icons)>li>a:focus:after {
  color: #b0984d
}

.nav-pills.nav-stacked.list-style-icons>li>a>i {
  color: #cdcdcd
}

.nav-pills.nav-stacked.list-style-icons>li.active>a>i,
.nav-pills.nav-stacked.list-style-icons>li>a:hover>i,
.nav-pills.nav-stacked.list-style-icons>li>a:focus>i {
  color: #b0984d
}

.dark .footer-content .nav-pills>li>a,
.dark .footer-content .nav-pills>li.active>a,
.dark .footer-content .nav-pills>li.active>a:focus,
.dark .footer-content .nav-pills>li>a:focus {
  color: #999
}

.dark .footer-content .nav-pills>li.active>a:hover,
.dark .footer-content .nav-pills>li>a:hover {
  color: #b0984d
}

.collapse-style-2 .panel-heading a {
  color: #fff;
  background-color: #c7ac56
}

.panel-heading a {
  color: inherit
}

.progress-bar-default {
  background-color: #c7ac56
}

.default-bg .form-control {
  background-color: rgba(0, 0, 0, .2);
  border-color: #b0984d;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
  color: #fff
}

.default-bg .has-success .form-control:focus,
.default-bg .has-warning .form-control:focus,
.default-bg .has-error .form-control:focus {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35)
}

.default-bg .input-group-addon {
  background-color: rgba(0, 0, 0, .2);
  border-color: #b0984d
}

.default-bg .form-control:focus {
  background-color: rgba(0, 0, 0, .1)
}

.default-bg .form-control-feedback {
  color: #fff
}

.dark.header .form-control,
.dark.header-top .form-control {
  border-color: #302e28
}

.icon.default-bg {
  background-color: #c7ac56;
  color: #fff
}

.icon.light-bg {
  background-color: #fff;
  color: #c7ac56
}

.listing-item .overlay-container .badge {
  border: 1px solid #c7ac56;
  background-color: rgba(255, 255, 255, .95);
  color: #c7ac56
}

.modal-content .modal-header {
  background-color: #c7ac56
}

.modal-content .modal-title {
  color: #fff
}

.banner .dark.breadcrumb-container {
  background-color: rgba(61, 59, 51, .6)
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #c7ac56
}

.transparent-header .header:not(.dark) .navbar-nav>li.open>a,
.transparent-header .header:not(.dark) .navbar-nav>li>a:hover,
.transparent-header .header:not(.dark) .navbar-nav>li>a:focus {
  color: #c7ac56
}

.main-navigation .navbar-nav>.open>a,
.main-navigation .navbar-nav>.open>a:hover,
.main-navigation .navbar-nav>.open>a:focus,
.main-navigation .navbar-nav>.dropdown>a:focus {
  background-color: #fff;
  color: #c7ac56;
  border-bottom-color: #fff;
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu .menu>.active>a,
.dropdown-menu .menu>.active>a:hover,
.dropdown-menu .menu>.active>a:focus {
  background-color: #fcfcfc;
  color: #b0984d;
  border-color: #f7f7f7
}

header:not(.dark) .mega-menu .menu>li>a:hover i,
header:not(.dark) .dropdown-menu>li>a:hover i,
header:not(.dark) .mega-menu .menu>li.active>a i,
header:not(.dark) .dropdown-menu>li.active>a i {
  color: #c7ac56
}

.mega-menu .menu>li>a:hover,
.mega-menu .menu>li>a:focus {
  background-color: #fcfcfc;
  color: #b0984d;
  border-color: #f7f7f7;
  text-decoration: none
}

.header:not(.dark) .active.dropdown>a:before,
.header:not(.dark).centered .active.dropdown>a:before {
  color: #c7ac56
}

.transparent-header .header:not(.dark) .dropdown:not(.open):not(.active)>a:before {
  color: #777
}

.transparent-header .header:not(.dark) .navbar-default .navbar-nav>.dropdown.open>a:before {
  color: #c7ac56
}

.dropdown .dropdown.open>a:before,
.header.centered:not(.dark) .dropdown .dropdown.open>a:before {
  color: #c7ac56
}

.navbar-default .navbar-toggle {
  border-color: #ccc
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fafafa;
  border-color: #b0984d
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #b0984d
}

@media(max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #b0984d;
    background-color: transparent
  }
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: #b0984d;
    background-color: #fff;
    border-bottom-color: transparent
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #b0984d
  }
  .navbar-default .navbar-nav>.dropdown.open>a:before {
    color: #c7ac56
  }
}

.dark.header .main-navigation .navbar-nav>.open>a,
.dark.header .main-navigation .navbar-nav>.open>a:hover,
.dark.header .main-navigation .navbar-nav>.open>a:focus,
.dark.header .main-navigation .navbar-nav>.dropdown>a:focus {
  border-bottom-color: #302e28
}

.dark.header .dropdown-menu {
  background-color: #302e28;
  border: 1px solid rgba(61, 59, 51, .8)
}

.dark.header .dropdown-menu .divider {
  background-color: #3d3b33
}

.dark.header .dropdown-menu>li>a,
.dark.header .mega-menu .menu>li>a {
  border-bottom: 1px solid rgba(61, 59, 51, .8)
}

.dark.header .mega-menu .menu>li>a:hover,
.dark.header .mega-menu .menu>li>a:focus {
  border-color: rgba(61, 59, 51, .8)
}

.dark.header .dropdown-menu>li>a:hover,
.dark.header .dropdown-menu>li>a:focus,
.dark.header .nav .open>a,
.dark.header .nav .open>a:hover,
.dark.header .nav .open>a:focus,
.dark.header .dropdown-menu>.active>a,
.dark.header .dropdown-menu>.active>a:hover,
.dark.header .dropdown-menu>.active>a:focus,
.dark.header .dropdown-menu .menu>.active>a,
.dark.header .dropdown-menu .menu>.active>a:hover,
.dark.header .dropdown-menu .menu>.active>a:focus {
  border-color: rgba(61, 59, 51, .8)
}

@media(max-width:767px) {
  .transparent-header .dark .main-navigation .navbar.navbar-default {
    background-color: rgba(61, 59, 51, .9);
    border-color: rgba(35, 34, 29, .5)
  }
}

.subfooter .navbar-default .nav>li>a:hover,
.subfooter .navbar-default .nav>.active>a:hover,
.subfooter .navbar-default .nav>.active>a:focus {
  background-color: transparent;
  text-decoration: underline;
  color: #b0984d
}

#offcanvas .nav .open>a,
#offcanvas .nav .open>a:hover,
#offcanvas .nav .open>a:focus,
#offcanvas .nav>li>a:hover,
#offcanvas .nav>li>a:focus,
#offcanvas .navbar-nav>li.active>a {
  color: #b0984d;
  background-color: #fff
}

#offcanvas .dropdown>a:before {
  color: #777
}

#offcanvas .dropdown.open>a:before {
  color: #c7ac56
}

.social-links li a {
  border: 1px solid #e7e7e7;
  color: #cdcdcd
}

.social-links li a:hover {
  background-color: transparent;
  border-color: #b0984d;
  color: #b0984d
}

.dark.social-links li a {
  background-color: rgba(0, 0, 0, .6);
  border: 1px solid rgba(0, 0, 0, .1);
  color: #fff
}

.social-links.animated-effect-1 li a:hover {
  color: #fff!important
}

.social-links.animated-effect-1 li a:after {
  background-color: #c7ac56
}

.default.social-links li a {
  background-color: #c7ac56;
  border: 1px solid #b0984d;
  color: #fff
}

.default.social-links li a:hover {
  background-color: #fff;
  color: #777
}

.header-top:not(.dark) .social-links .dropdown.open>button>i:before {
  color: #c7ac56
}

.header-top.colored .social-links .dropdown>button>i:before,
.header-top.colored .social-links .dropdown.open>button>i:before {
  color: #fff
}

.dark.header-top .dropdown-menu {
  border: 1px solid #23221d;
  border-top: none;
  background: #302e28
}

.header-dropdown-buttons .btn-group .dropdown-menu {
  border: none
}

@media(max-width:1199px) {
  .full-width-section:not(.no-image) .full-text-container.default-bg {
    background-color: rgba(199, 172, 86, .6)
  }
}

.header-dropdown-buttons .btn-group>.btn {
  background-color: #f2f2f2;
  border: 1px solid #e9e9e9
}

.header-dropdown-buttons .btn-group>.btn:hover {
  background-color: #c7ac56;
  color: #fff;
  border-color: #b0984d
}

.header-dropdown-buttons .btn-group.open>.btn {
  background-color: #c7ac56;
  color: #fff;
  border-color: #b0984d
}

.colored.header-top .dropdown-menu {
  border: 1px solid #c7ac56;
  background: #c7ac56
}

.media:hover .icon {
  background-color: transparent;
  color: #c7ac56;
  border: 1px solid #c7ac56
}

.popover-title {
  background-color: #c7ac56;
  color: #fff
}

.tag a {
  color: #fff;
  background-color: #c7ac56;
  border: 1px solid #b0984d
}

.tag a:hover {
  color: #c7ac56;
  background-color: #fff;
  border-color: #b0984d;
  text-decoration: none
}

.tp-bannertimer {
  background-color: rgba(199, 172, 86, .8)
}

.content-slider-with-large-controls .owl-buttons .owl-prev:after,
.content-slider-with-large-controls-autoplay .owl-buttons .owl-prev:after {
  color: #c7ac56
}

.content-slider-with-large-controls .owl-buttons .owl-next:after,
.content-slider-with-large-controls-autoplay .owl-buttons .owl-next:after {
  color: #c7ac56
}
